* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
/* banner */
.banner {
    background-color: #ff2f7c;
}
.banner a {
    cursor: pointer;
}
.banner img {
    display: block;/*去掉图片下面的小边 将图片设置为块级元素*/
    margin: 0 auto;/*块元素图片居中*/
}
/* header */
.header {
    height: 40px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
    font: 12px/1.5 tahoma,arial,"\5b8b\4f53";
    font-family: "Microsoft YaHei", tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}
.wrapper {
    width: 1230px;
    margin: 0 auto;
}
.header-login {
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    float: left;
}
.header-login em {
    color: #999;
    font-style: normal;
}
.header-login a {
    color: #999;
    text-decoration: none;
}
.header-login a:hover {
    cursor: pointer;
    color: red;
}
.header-list {
    color: #999;
    float: right;
}
.header-list li {
    line-height: 40px;
    float: left;
}
.header-list li>a {
    display: block;
    padding: 0 10px 0 10px;
    border: solid #f2f2f2;
    border-width: 0 1px;
    color: #999;
    text-decoration: none;
}
.header-list li>a:hover {
    cursor: pointer;
}
.header-list .special>a:hover {
    text-decoration: underline;
    color: red;
    background: white;
}
.header-list .normal>a:hover {
    color: red;
}
.header-list .navigation>a:hover {
    color: #999;
    background: white;
}
.header-list .special {
    position: relative;
}
.arrow {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-top-color: #999;
    position: absolute;
    right: 3px;
    top: 20px;
}
.header-list .special:hover .arrow{
    transform: rotate(180deg);
    transform-origin: 50% 25%;
}
.icon-gouwuche1, .icon-tel {
    color: red;
    font-size: 12px;
}
.icon-caidan1 {
    color: red;
    font-size: 14px;
}